#carroDeCompras{
    width:2em;
    padding-top: 1.5em;
    padding-bottom: 0em;
}

#numItems{
    size: 2em;
    padding-top: 1.5em;
    padding-bottom: 0em;
}

.food{
    height: 10em;
    margin-top: 0.5em
}

#banner{
    width: 100%;
}

#logo{
    font-family: 'Satisfy', cursive;
    padding-top: 0.5em;
    padding-bottom: 0em;
    margin: 0em;
}

nav{
    padding: 0;
}

.categories{
    background: #474747;
    padding: 1.5em;
}

.category{
    text-decoration: none;
    color:#FFF;
    margin: 0em;
}

#categ{
    text-align: center
}

.tarjeta{
    margin: 0.5em
}

.AddToCart{
    color: #FFF;
    background: #474747;
}

.mod{
    color: #FFF;
    background: #474747;
    margin:0.1rem;
}

#box{
      width: 500px;
      overflow: hidden;
      background: pink;
      box-shadow: 0 0 10px black;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
      padding: 10px;
      text-align: center;
      display: none;
    }
#box span{
      color: hotpink;
      font-size: 40px;
      display: block;
      margin: 20px 0;
}
#box h1{
      color: brown
}
.close{
      font-size: 18px;
      color: white;
      padding: 10px 20px;
      cursor: pointer;
      background: rgb(111, 111, 223);
      display: inline-block;
      border-radius: 1px solid #000;
}